<template>
	<div>
		<slot>
			<input type="text" :placeholder="placeholder" ref="input" :value="value" />
		</slot>
	</div>
</template>

<script>
import { bindProps, getPropsValues } from './utils/bindProps.js';
import downArrowSimulator from './utils/simulateArrowDown.js';
import { load } from './utils/manager.js';
import { mappedPropsToVueProps } from './utils/mapElementFactory';

const mappedProps = {
	bounds: {
		type: Object,
	},
	componentRestrictions: {
		type: Object,
		// Do not bind -- must check for undefined
		// in the property
		noBind: true,
	},
	types: {
		type: Array,
		default: function() {
			return [];
		},
	},
};

const props = {
	placeholder: {
		required: false,
		type: String,
	},
	selectFirstOnEnter: {
		require: false,
		type: Boolean,
		default: false,
	},
	value: {
		type: String,
		default: '',
	},
	options: {
		type: Object,
	},
	countriesRestrictions: {
		type: Array,
		default: () => [],
	},
};

export default {
	name: 'gmap-autocomplete',
	data: () => ({
		input: {},
	}),
	mounted() {
		this.input = this.getInput();

		load().then(() => {
			if (this.selectFirstOnEnter) {
				downArrowSimulator(this.input);
			}

			if (typeof google.maps.places.Autocomplete !== 'function') {
				throw new Error(
					"google.maps.places.Autocomplete is undefined. Did you add 'places' to libraries when loading Google Maps?",
				);
			}

			const finalOptions = {
				...getPropsValues(this, mappedProps),
				...this.options,
			};

			if (!finalOptions.fields) finalOptions.fields = ['address_components', 'formatted_address', 'geometry'];

			this.$autocomplete = new google.maps.places.Autocomplete(this.input, finalOptions);
			bindProps(this, this.$autocomplete, mappedProps);

			this.$autocomplete.setComponentRestrictions({
				country: this.countriesRestrictions,
			});

			this.$watch('componentRestrictions', (v) => {
				if (v !== undefined) {
					this.$autocomplete.setComponentRestrictions(v);
				}
			});

			this.$autocomplete.addListener('place_changed', () => {
				let place = this.$autocomplete.getPlace();

				this.$emit('place-changed', place);
				this.$emit('text-updated', place.formatted_address);
			});
		});
	},
	methods: {
		getInput() {
			let slotElements = this.$slots.default;

			if (!slotElements || !slotElements.length) return this.$refs.input;

			let inputComponent = slotElements[0];

			let inputElement =
				inputComponent.tag == 'input' ? inputComponent.elm : inputComponent.elm.querySelector('input');

			return inputElement || this.$refs.input;
		},
	},
	props: {
		...mappedPropsToVueProps(mappedProps),
		...props,
	},
};
</script>

<style scoped></style>
