<template>
	<base-map :center="center">
		<base-map-center-marker :position="center" :icon="icon" @place-changed="placeChanged" />
	</base-map>
</template>

<script>
import BaseMap from './Map';
import MapCenterMarker from './MapCenterMarker';
import defaultIcon from './helpers/default-icon';

export default {
	name: 'select-place',
	props: {
		center: { type: Object, default: () => ({ lat: 0, lng: 0 }) },
		icon: { type: String, default: () => defaultIcon() },
	},
	components: {
		[BaseMap.name]: BaseMap,
		[MapCenterMarker.name]: MapCenterMarker,
	},
	methods: {
		placeChanged(place) {
			this.$emit('place-changed', place);
		},
	},
};
</script>
