<template>
	<div id="app">
		<base-map>
			<base-map-marker :position="{ lat: 0, lng: 0 }" label="test">
				<div slot="popover">
					<div>test</div>
				</div>
			</base-map-marker>
			<base-map-marker :position="{ lat: 0, lng: 5 }" label="test"/>
		</base-map>

		<div>
			<gmap-autocomplete />
		</div>

		<div>
			<select-place :center="{ lat: 10, lng: 10 }" @place-changed="placeChanged" />
		</div>
	</div>
</template>

<script>
import { BaseMap, MapMarker, SelectPlace, MapAutocomplete } from './components/index';

export default {
	name: 'App',
	components: {
		[BaseMap.name]: BaseMap,
		[MapMarker.name]: MapMarker,
		[SelectPlace.name]: SelectPlace,
		[MapAutocomplete.name]: MapAutocomplete,
	},
	methods: {
		placeChanged(res) {
		},
	},
};
</script>

<style>
#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 60px;
}
</style>
